<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>application</key>
	<integer>1</integer>
	<key>custom</key>
	<string>on alfred_script(q)
	tell application "iTerm"
		if application "iTerm" is running then
			try
				tell the first window to create tab with default profile
			on error
				create window with default profile
			end try
		end if
		activate
		tell the first window to tell current session to write text q
		tell application "System Events"
    			keystroke "k" using command down
		end tell
	end tell
end alfred_script</string>
</dict>
</plist>
